@keyframes page-preloader-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 6rem);
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top: 5px solid $primary-700;
  border-right: 5px solid transparent;
  animation: page-preloader-rotation 0.5s linear infinite;
}

.loader::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-bottom: 5px solid #ff3d00;
  border-left: 5px solid transparent;
}
