@keyframes page-preloader-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderContainer {
  position: absolute;
  inset: 0;
  background-color: rgba($color: rgb(82, 82, 82), $alpha: 0.05);
  z-index: 10;
}

.loader {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-top: 3px solid $primary-700;
  border-right: 3px solid transparent;
  animation: page-preloader-rotation 0.5s linear infinite;
  z-index: 15;
}

.loader::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-bottom: 3px solid #ff3d00;
  border-left: 3px solid transparent;
  z-index: 15;
}
