.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 35px;
  height: 35px;
  transition: $transition;
}

.logoHeading {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
  color: $primary-500;
  transition: $transition;
}

@media (hover: hover) {
  .logoContainer:hover .logoHeading {
    color: $hover-color;
  }

  .logoContainer:hover .logo {
    transform: scale(1.1);
  }
}

@media screen and (max-width: $tablet) {
  .logo-container {
    gap: 10px;
  }

  .logo {
    width: 25px;
    height: 25px;
  }

  .logoHeading {
    font-size: 16px;
  }
}
