.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.notFoundImg {
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-bottom: 32px;
  width: 100%;
  height: calc(100vh - 250px);
  max-height: 470px;
}

.heading {
  margin-bottom: 8px;
}

.description {
  margin-top: 0;
  margin-bottom: 8px;
  color: $grey-500;
}

.supportLink {
  color: $primary-700;
  transition: $transition;
}

.toHomeLink {
  font-size: 20px;
}

@media (hover: hover) {
  .supportLink:hover {
    color: $hover-color;
  }
}
